@model IEnumerable<InmobiliariaMVC.Models.Propietario>

<h2>Lista de Propietarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Dni</td>
                <td>@p.Apellido</td>
                <td>@p.Nombre</td>
                <td>@p.Telefono</td>
                <td>@p.Email</td>
            </tr>
        }
    </tbody>
</table>
