@model InmobiliariaMVC.Models.Pago

<h2>Detalles del Pago</h2>

<p><strong>Contrato:</strong> @Model.id_contrato</p>
<p><strong>Fecha:</strong> @Model.fecha</p>
<p><strong>Importe:</strong> @Model.importe</p>
<p><strong>Nro Pago:</strong> @Model.nro_pago</p>
<p><strong>Estado:</strong> @(Model.estado ? "Activo" : "Anulado")</p>


@if (User.IsInRole("Administrador"))
{
    <h4>Auditoría</h4>
    <p><strong>Creado por:</strong> @Model.CreatedByUserId</p>
    <p><strong>Fecha de creación:</strong> @Model.CreatedAt.ToString("dd/MM/yyyy")</p>
    @if (Model.CanceledByUserId != null)
    {
        <p><strong>Anulado por:</strong> @Model.CanceledByUserId</p>
        
        <p><strong>Fecha de anulación:</strong> @(Model.CanceledAt.HasValue ? Model.CanceledAt.Value.ToString("dd/MM/yyyy"):"-")</p>
        
    }
}
