@model IEnumerable<InmobiliariaMVC.Models.Pago>
@{
    ViewBag.Title = "Pagos";
}

<h2>Pagos</h2>

<div class="mb-3">
    <a class="btn btn-success" href="@Url.Action("Create", "Pagos")">➕ Agregar Pago</a>
    <a class="btn btn-info" href="@Url.Action("BuscarPorContrato", "Pagos")">📑 Pagos por Contrato</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Contrato</th>
            <th>Nro Pago</th>
            <th>Fecha</th>
            <th>Detalle</th>
            <th>Importe</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pago in Model)
        {
            <tr class="@(pago.estado ? "" : "table-danger")">
                <td>@pago.Contrato?.Inquilino?.nombre @pago.Contrato?.Inquilino?.apellido</td>
                <td>@pago.nro_pago</td>
                <td>@pago.fecha.ToString("dd/MM/yyyy")</td>
                <td>@pago.detalle</td>
                <td>@pago.importe.ToString()</td>
                <td>@(pago.estado ? "Activo" : "Anulado")</td>
                <td>
                     @if (pago.estado)
                {
                    <a asp-action="Edit" asp-route-id="@pago.id_pago" class="btn btn-sm btn-primary">Editar</a>
                     <a asp-action="Cancelar" asp-route-id="@pago.id_pago" class="btn btn-sm btn-primary">Anular</a>
                }
                 <a asp-action="Details" asp-route-id="@pago.id_pago" class="btn btn-sm btn-primary">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
