@model IEnumerable<InmobiliariaMVC.Models.Contrato>
@{
    ViewData["Title"] = "Lista de Contratos";
}

<h2>Lista de Contratos</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo Contrato</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Monto</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th>Fecha Creación</th>
            <th>Fecha Cierre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.id_contrato</td>
                <td>@c.Inquilino?.nombre @c.Inquilino?.apellido</td>
                <td>@c.Inmueble?.direccion</td>
                <td>@c.monto</td>
                <td>@c.fecha_inicio.ToShortDateString()</td>
                <td>@c.fecha_fin.ToShortDateString()</td>
                <td>@(c.estado ? "Activo" : "Finalizado")</td>
                <td>@c.CreatedAt.ToShortDateString()</td>
                <td>@(c.ClosedAt.HasValue ? c.ClosedAt.Value.ToShortDateString() : "-")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.id_contrato" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Renovar" asp-route-id="@c.id_contrato" class="btn btn-sm btn-success">Renovar</a>
                    
                    @if (c.estado)
                    {
                        <form asp-action="Terminar" asp-route-id="@c.id_contrato" method="post" style="display:inline">
                            <button type="submit" class="btn btn-sm btn-warning">Terminar</button>
                        </form>
                    }
                    <a asp-action="Details" asp-route-id="@c.id_contrato" class="btn btn-sm btn-info">Detalles</a>
                    
                    @if (User.IsInRole("Admin")){
                        <form asp-action="DeleteConfirmed" asp-route-id="@c.id_contrato" method="post" style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Seguro que quieres eliminar este contrato?');">Eliminar</button>
                        </form>
                    }
                    
                    

                    
                </td>
            </tr>
        }
    </tbody>
</table>
